<!-- views/partials/footer.ejs -->
<p class="text-center text-muted">© Copyright 2014 The Awesome People</p>

<script>
$(document).ready( function () {
  var table = $('#example').DataTable();
} );

</script>
